@use '../theme.scss' as *;

$cardBackgroundColor: var(--depth-bg);
$cardBoxShadow: var(--depth-bs);
$cardHorizontalPadding: 16px;
$cardVerticalPadding: 16px;

.be-card {
  box-shadow: none;
}
.be-card {
  max-width: 100%;
  width: 290px;
  background-color: $cardBackgroundColor;
  border: 1px solid var(--brd);
  border-radius: $baseBorderRadius;
  > .image {
    width: 100%;
    padding: 0;
    img {
      width: 100%;
    }
  }
  .title {
    font-size: 1.2em;
    font-weight: 600;
  }
  > .contents {
    padding: $cardVerticalPadding $cardHorizontalPadding;
  }
  > .extra {
    padding: $cardVerticalPadding $cardHorizontalPadding;
    border-top: 1px solid var(--brd);
  }

  &.attached {
    > .header {
    }
    > .footer {
    }
  }
}

.be-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
