// $table-cell-h-padding: calc((14 / 14) * 1em);
// $table-cell-v-padding: 0;
// $table-cell-padding: $table-cell-v-padding $table-cell-h-padding;

// $table-border-color: #eee;
// $table-header-border-color: #ddd;
// $table-color-bg: #fff;
// $table-row-hover-color: #d7d7d7;
// $table-cell-hover-color: #eeeeee; //rgba(0, 0, 0, 0.04)
// $table-header-cell-bg: #eeeeee;
// $table-header-title-bg: #eeeeee;

// .be-data-table {
//   position: relative;
//   background-color: $table-color-bg;
//   // width: 2600px;
//   .grid-row {
//     display: flex;
//     width: 100%;
//     .grid-column {
//       flex: 1 0 auto;
//       // max-width: 200px;
//       flex-shrink: 0;
//       border-bottom: 1px solid;
//       border-right: 1px solid;
//       border-color: $table-border-color;
//       &.main {
//         // flex-basis: 400px;
//         flex-grow: 1;
//       }
//       .grid-cell {
//         padding: $table-cell-padding;
//         line-height: 1;
//         // border-bottom: 1px solid;
//         // border-right: 1px solid;
//         // border-color: $table-border-color;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         min-height: 37px;
//         &.header-cell {
//           padding: 0;
//           margin: 0 5px;
//           min-height: 42px;
//           // background-color: #eee;
//         }
//       }
//       &.header-column {
//         // border-top: 1px solid;
//         border-bottom: 1px solid;
//         border-top: 1px solid;
//         border-color: $table-header-border-color;
//         background-color: $table-header-cell-bg;
//       }
//     }
//     &:hover:not(.header-row) {
//       .grid-column {
//         // background-color: rgba(0, 0, 0, 0.16);
//         background-color: $table-row-hover-color;
//         &.fixed {
//           background-color: $table-row-hover-color;
//         }
//       }
//     }
//   }
//   .data-table-header-group {
//     // background-color: $table-header-cell-bg;
//     position: sticky;
//     top: 0;
//     z-index: 200;
//   }
//   .data-table-header-title-row {
//     color: #333;
//     background-color: #fff;
//     width: 100%;

//     .main-title-wrapper {
//       position: sticky;
//       padding: $table-cell-padding;
//       left: 0;
//       width: fit-content;
//     }
//   }
//   .data-table-header-wrapper {
//     position: sticky;
//     top: 0;
//     z-index: 200;
//     .header-column {
//       cursor: pointer;
//       color: #333;
//       // background-color: #eeez
//       font-weight: 700;
//       &:first-child {
//         border-top-left-radius: 14px;
//         border-bottom-left-radius: 14px;
//       }
//       &:last-child {
//         border-top-right-radius: 14px;
//         border-bottom-right-radius: 14px;
//       }
//       .title-wrapper {
//         text-align: center;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         .sort-btn {
//           display: block;
//           cursor: pointer;
//           color: #d6d6d6;
//           padding: 5px;
//           background-color: #fff;
//           border-radius: 50%;
//         }
//         .column-title {
//           flex-grow: 1;
//         }
//       }
//       &:hover {
//         .sort-btn {
//           color: #333;
//         }
//       }
//       .sorted {
//         .sort-btn {
//           color: #6d9d72;
//         }
//       }
//     }
//   }
//   .data-table-body-wrapper {
//     position: relative;
//     width: 100%;
//     .grid-column {
//       color: #333;
//       background-color: transparent;
//       &.col-hover {
//         border-color: #fff;
//         background-color: $table-cell-hover-color;
//       }
//     }
//   }
//   &.fixed-on {
//     .grid-column {
//       &.fixed {
//         background-color: $table-color-bg;
//         position: sticky;
//         z-index: 100;
//         &.col-hover {
//           background-color: $table-cell-hover-color;
//         }
//         &.header-column {
//           background-color: $table-header-cell-bg;
//         }
//       }
//     }
//   }
// }
